table{
    background-color: aquamarine;
    border: 2pt solid black;
    border-collapse: collapse;
}
td, th{
    border: 2pt solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    padding: 5px;
}
th{
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px 10px;
}